.content{
    display: flex;
    margin: 5vw;
}
.navbar{
    color: #DCBA64;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
}
.arrowcircle{
    margin-top: 30vh;
    width: 80px;
    height: 80px; 
    background-color: #DCBA64;
    font-size: 30px;
    color: #6F1D1B;
    border-radius: 100%;
}
.arrowcircle:hover{
    background-color: #9c7e33;
}
.slides{
    position: relative;
    border-radius: 2%;
    background-color: #DCBA64;
    color: #6F1D1B;
    width:69vw;
    height:70vh;
    margin-left: 3vw;
    margin-right: 3vw;
}
.slide{
    margin: 30px;
    font-size: 30px;
}
.arrow1{
    position:relative;
    top: 18px;
}
.arrow2{
    position:relative;
    top: 25px;
}
.footer{
    position: sticky;
    top: 87vh;
}
.textcenter{
    text-align: center;
}
#traian{
    position:absolute;
    left: 85vw;
    top: 65vh;
}
.traian{
    width:80%;
    -webkit-filter: sepia(200%);
}
